@font-face {
    font-family: 'Pacifico';
    src: url('/Fonts/pacifico/Pacifico-webfont.woff') format('woff'), url('/Fonts/pacifico/Pacifico-webfont.eot') format('embedded-opentype'), url('/Fonts/pacifico/Pacifico-webfont.svg') format('svg'), url('/Fonts/pacifico/Pacifico-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('/Fonts/open-sans/OpenSans-Bold-webfont.eot') format('embedded-opentype'), url('/Fonts/open-sans/OpenSans-Bold-webfont.svg') format('svg'), url('/Fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'), url('/Fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/Fonts/open-sans/OpenSans-Regular-webfont.eot') format('embedded-opentype'), url('/Fonts/open-sans/OpenSans-Regular-webfont.svg') format('svg'), url('/Fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'), url('/Fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('/Fonts/open-sans/OpenSans-Semibold-webfont.eot') format('embedded-opentype'), url('/Fonts/open-sans/OpenSans-Semibold-webfont.svg') format('svg'), url('/Fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype'), url('/Fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('/Fonts/open-sans/OpenSans-Italic-webfont.eot') format('embedded-opentype'), url('/Fonts/open-sans/OpenSans-Italic-webfont.svg') format('svg'), url('/Fonts/open-sans/OpenSans-Italic-webfont.ttf') format('truetype'), url('/Fonts/open-sans/OpenSans-Italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'AndadaRegular';
    src: url('/Fonts/andada/Andada-Regular.ttf') format('truetype');
}

$text-color: #333332;

$navbar-default-bg: #FFF;
$navbar-height: 106px;
$navbar-default-color: #333332;
$navbar-default-link-color: #333332;
$navbar-default-link-hover-color: #666664;

$font-family-sans-serif: 'OpenSansRegular';

$btn-primary-bg: #0e76bc;
$btn-primary-bg-orange: #f1592a;

$input-bg: #f3f3f4;
$input-border: #f6f6f7;
$input-color: #7e7f82;
$legend-color: #7e7f82;
$legend-border-color: #FFF;
$input-color-placeholder: #7e7f82;
$input-height-base: 48px;

$default-box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
$default-box-shadow-inset: inset 0 0 1px rgba(0,0,0,.025);

@import '../Bootstrap/_bootstrap.scss';
@import '../base.scss';


/*SEO only*/
h1 {
    display: none;
}

/*Basic stuff START*/

.btn-primary {
    padding: 10px 35px;
    @include border-radius(20px);
    font-family: 'OpenSansSemiBold';
}

.btn-orange {
    background-color: #f1592a;
    border-color: #ef4713;

    &:hover {
        background-color: #ef4713;
        border-color: #ef4713;
    }

    &:active {
        background-color: #d84113;
        border-color: #d84113;

        &:hover {
            background-color: #d84113;
            border-color: #d84113;
        }
    }

    &:focus {
        background-color: #d84113;
        border-color: #d84113;
    }
}


.btn-wider {
    padding: 10px 38px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    margin-left: 2px;
    font-family: "OpenSansBold";
}

.classWithPad {
    padding: 0 11px;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}


br.clear {
    clear: both;
    float: none;
    font-size: 0px;
}


.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px;
}

h2 {
    font-size: 50px;
    line-height: 75px;
    margin: 22px 0;
    font-family: 'OpenSansBold';
}

/*Basic stuff END*/


.navbar-default {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    border: none;
    @include border-radius(0);
    border-bottom: 1px solid #696969;
    margin-bottom: 0;

    .navbar-brand {
        padding: 15px;
    }

    .navbar-nav {
        float: right;

        li {
            a {
                font-family: 'OpenSansRegular';
                font-size: 18px;
                padding-top: 44px;
                padding-bottom: 41px;
                padding-right: 0px;
                padding-left: 42px;
                letter-spacing: 0.02em;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    .respo-menu-btn {
        display: none;
    }
}

.page-index .navbar-default {
    border-bottom: none;
    position: absolute;
}

.jumbotron {
    background-image: url("/Images/hero.jpg");
    background-size: cover;
    background-position: 0px -148px;
    color: white;
    padding: 109px 0 37px 0;
    margin-bottom: 25px;

    h2 {
        margin-bottom: 40px;
    }
}

.nice-select {
    float: none;
    background-color: #f3f3f4;
    border: 1px solid #f6f6f7;
    box-shadow: $default-box-shadow-inset;
    padding: 3px 15px;
    height: 48px;
    color: #7e7f82;
    font-size: 16px;    

    .list {
        width: 100%;
        margin-top: 2px;
    }

    &:after {
        border-bottom: 4px solid #a9abae;
        border-right: 4px solid #a9abae;
        content: '';
        @include border-radius(0 4px 0 4px);
        display: block;
        height: 15px;
        margin-top: -8px;
        pointer-events: none;
        position: absolute;
        right: 22px;
        top: 50%;
        -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
        transform-origin: 66% 66%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        width: 15px;
    }
}

.form-control {
    box-shadow: $default-box-shadow-inset;
    font-size: 16px;
    padding: 6px 15px;

    &:focus {
        border-color: #999;
        box-shadow: none;
    }
}

.form-group {
    .req {
        color: red;
        font-family: 'OpenSansRegular';
        font-weight: 400;
    }
}

.content {
    padding-bottom: 53px;

    h3 {
        font-family: 'AndadaRegular';
        font-size: 33px;
        margin-top: 19px;
        margin-bottom: 9px;
        letter-spacing: -0.013em;
        line-height: 38px;
    }

    p {
        font-size: 16px;
        letter-spacing: 0.01em;
        margin: 0 0 6px;
    }

    #beerForm {
        margin-top: 18px;

        button:first-of-type {
            margin-right: 14px;
        }
    }

    .form-group {
        margin-bottom: 20px;
    }
}

.advantages {
    background: #f3f3f4;

    .adv-main {
        font-size: 44px;
        margin-top: 44px;
    }

    .adv-secondary {
        font-size: 30px;
        margin-top: 6px;
        letter-spacing: 0.005em;
    }

    .table td {
        border-top: 0;
        padding: 0;

        div {
            text-align: center;
            width: 225px;
            margin-left: 30px;

            strong {
                display: block;
                font-size: 23px;
                font-family: 'OpenSansBold';
                margin-top: 40px;
            }

            img {
                display: block;
                margin: auto;
                margin-top: 30px;
            }

            span {
                font-family: 'OpenSansItalic';
                margin-top: 37px;
                display: block;
                font-size: 20px;
                line-height: 27px;
                letter-spacing: 0.01em;
            }
        }

        div.img {
            margin-left: 0;
            height: 66px;
        }

        div.pub-less img {
            margin-top: 20px;
        }

        div.pub-less div.img {
            height: 76px;
        }
    }

    .table td:first-of-type div {
        margin-left: 0;
    }

    .learn-more-block {
        text-align: center;
        margin: 102px 0 55px 0;
    }
}

footer {
    background: #404041;
    color: #FFF;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    position: relative;
    padding: 36px 0;


    > div.container-fluid {
        padding-left: 11px;
    }

    div.contact-address {
        width: 225px;
    }

    div.copyright {
        text-shadow: -1px 0 #393838, 0 1px #393838, 1px 0 #393838, 0 -1px #393838;
        color: #66676a;
        margin-top: 18px;
        font-size: 12px;
        font-weight: 600;
    }
    /* brigther 1px line on top of the footer */
    :before {
        position: absolute;
        height: 1px;
        width: 100%;
        background: #565657;
        content: ' ';
        left: 0;
        top: 0;
    }
    /* darker 1px line on top of the footer */
    :after {
        position: absolute;
        height: 1px;
        width: 100%;
        background: #2e2e2f;
        content: ' ';
        left: 0;
        top: 1px;
    }

    > div > div:first-of-type {
        padding-top: 4px;
        letter-spacing: 0.023em;
        line-height: 22px;
    }

    > div > div:last-of-type {
        padding-right: 6px;
    }
}

.answer-info {
    display: none;
    position: absolute;
    background: #FFF;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    margin: -4px 0 0 5px;
    box-shadow: $default-box-shadow;
}

.question-info {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #0e76bc;
    border-radius: 8px;
    position: relative;
    top: 2px;
    cursor: help;

    &:after {
        position: absolute;
        content: '?';
        color: #FFF;
        left: 5px;
        top: -2px;
    }
}

#contactForm {
    textarea.form-control {
        height:244px;
    }
}

.writeUs-block {
    margin-top: 65px;
}

.address-block {
    font-size: 16px;

    #gMap {
        height: 300px;
    }

    h3 {
        margin-top: 0;
    }

    .email {
        position: relative;
        padding-left: 23px;
        margin-top: 20px;

        &:before {
            content: ' ';
            background: url('/Images/mail-black.png') center center no-repeat;
            position: absolute;
            left: 0;
            top: 3px;
            height: 16px;
            width: 16px;
            background-size: 16px;
        }
    }


    .mobile {
        position: relative;
        padding-left: 23px;
        margin-top: 5px;
        margin-bottom: 15px;

        &:before {
            content: ' ';
            background: url('/Images/phone-black.png') center center no-repeat;
            position: absolute;
            left: 0;
            top: 3px;
            height: 16px;
            width: 16px;
            background-size: 16px;
        }
    }
}

/*Angular validation*/

.ng-touched.ng-invalid {
    border: 1px solid red;
}

.ng-submitted .ng-untouched.ng-invalid {
    border: 1px solid red;
}

.ng-label-invalid {
    color: red;
    font-size: 16px;
    padding-top: 5px;
    display: inline-block;
}

/*End Angular validation*/